.error {
  background-color: red;
}

.container {
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.column-right {
  background-color: orange;
  width: auto;
}




.grocery-item {
  background-color: green;
}
