html, body {
  height: 100%;
  overflow: hidden;
  font-family: "Whitney SSm A", "Whitney SSm B", "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
  background-color: #272727;
  margin: none;
}

h1 {
  margin: 0;
  padding: 20px 15px;
  color: #1F9BDE;
}

h1 span {
  color: #66b3dd;
}


.container {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.column-left {
  background-color: #42444E;
  color: #fff;
}

.column-right {
  background-color: #FAFAFA;
  overflow: scroll;
}

.column h3 {
  margin-bottom: 25px;
}

.group {
  position:relative;
  margin-bottom:10px;
}

.number-input {
  display: inline-block;
  width: 45%;
}

.number-input input {
  text-align: right;
}

.dollar-input {
  position: absolute;
  display: inline;
  top: 12px;
  font-size: 16px;
  opacity: 0;
}

.button[disabled] {
  background-color: inherit;
  border: 2px solid #757575;
  color: #757575;
}

.button {
  border-radius: 10px;
  color: #fff;
  border: 2px solid #757575;
  background-color: #1F9BDE;
  transition: background-color .1s ease;
  width: 150px;
  margin: 25px auto;
  display: block;
}



.grocery-item {
  display: block;
  margin: 15px 0px 15px 0px;
  padding: 0;
  height: 75px;
}

.item-display {
  background-color: #bcbcbc;
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 15px 0 15px;
  margin:auto;
}

.wrap {
  margin-top: 4px;
  height: 100%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item-display > .col-sm-4, .item-display > .col-sm-1, .item-display > .col-sm-3 {
  display: table-cell;
  height: 100%;

}
.title {
  display: table-cell;
  font-size: 20px;
  margin: 0;
  height: 75px;
  width: 175px;
  vertical-align: middle;
  margin-top: 4px;
}

.price {
  font-size: 25px;
  margin-right: 40px;
  vertical-align: middle;
  text-align: center;
}

.title span {
  font-size: 15px;
  text-align: center;
  color: #888;
}

.quantity {
  display: inline-block;
  margin: 10px 0;
  text-align: center;
  width: 175px;
}

.quantity p {
  text-align: center;
  margin-bottom: 5px;
}

.close {
  font-size: 35px;
  display: table-cell;
  vertical-align: middle;
  height: 75px;
}

.box-bottom {
  position:absolute;
  bottom: 50px;
  left: 0;
  height: 150px;
  width: 100%;
  text-align: center;
  overflow: scroll;
}

h5 {
  font-size: 20px;
}

h4 {
  font-size: 35px;
  text-overflow: ellipsis;
}

.input-group {
  width: 150px;
}

.duplicate {
  color: #fafafa;
  font-size: 14px;
  text-align: center;
}




/*Material Design ccompliant inputs */
/* active state */
input:focus ~ label, input:valid ~ label     {
  top:-17px;
  font-size:12px;
  color:#FFF;
}

input:focus ~ .dollar-input, input:valid ~ .dollar-input {
  opacity: 1;
}

.bar  {
  position:relative;
  display:block;
  width:100%;
 }

.bar:before, .bar:after   {
  content:'';
  height:1px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#FFF;
  transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

input {
  font-size:18px;
  background-color: inherit;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus {
  outline: none;
}

label          {
  color:#999;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:15px;
  transition:0.2s ease all;
}


/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

input:valid ~ .invalid {
  color: red;
}

input:focus ~ .invalid {
  color:inherit;
}

.invalid:before, .invalid:after {
  background: red;
  color: red;
}


@keyframes update-flash {
  from {color: green;}
  to {color:white;}
}
